@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505;
  color: #ffffff;
  overflow: hidden;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1F1F22;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}